{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	WhereIsFlorie | Accueil
{% endblock metatitle %}

{% block main %}

<section class="image-section" style="background-image: url('{{ asset('assets/img/route2.jpg') }}')">
  <div class="hero-text">
    <h1>Explore le monde</h1>
    <h1>et partage ton expérience</h1>
  </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <a href="#carousel" class="scroll-down-arrow">↓</a>
	<!-- Effet nuage -->
  	<div class="cloud-divider">
		<svg viewBox="0 0 1440 150" preserveAspectRatio="none">
		<path d="M0,96 C480,0 960,180 1440,96 L1440,150 L0,150 Z" fill="#ffffff"></path>
		</svg>
  </div>
</section>

	
	


    <!-- SECTION 2 : CARROUSEL -->
    <section class="carousel-section overlay-scroll">
        <h2 class="carousel-title">Mes dernières destinations</h2> 

        <div class="carousel-wrapper">
            <button class="carousel-arrow left" onclick="scrollCarousel(-1)">&#10094;</button>

            <div class="carousel-container" id="carousel">
                <div class="carousel-track" id="carouselTrack">

                  <a href="{{ path('destination_martinique') }}">
                      <img src="{{ asset('assets/img/martinique.jpg') }}" alt="martinique">
                  </a>

                  <a href="{{ path('destination_maurice') }}">
                      <img src="{{ asset('assets/img/maurice.jpg') }}" alt="ile Maurice">
                  </a>

                  <a href="{{ path('destination_rome') }}">
                      <img src="{{ asset('assets/img/rome.jpg') }}" alt="rome">
                  </a>

                  
                  <a href="{{ path('destination_faro') }}">
                    <img src="{{ asset('assets/img/faro.jpg') }}" alt="A">
                  </a>

                  <a href="{{ path('destination_tokyo') }}">
                    <img src="{{ asset('assets/img/tokyo.jpg') }}" alt="Photo 5">
                  </a>

                  <a href="{{ path('destination_fuerteventura') }}">  
                    <img src="{{ asset('assets/img/fuerteventura.jpg') }}" alt="Photo 6">
                  </a>  
                </div>
            </div>

            <button class="carousel-arrow right" onclick="scrollCarousel(1)">&#10095;</button>
        </div>
    </section>

    <script src="{{ asset('assets/js/carousel.js') }}"></script>


	<section class="map-section">
		<h2 class="map-title">Carte de mes destinations</h2>
		<div id="map"></div>
	</section>


  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ asset('assets/js/map.js') }}"></script>

 


{% endblock main %}



