{% extends 'admin/base.html.twig' %}

{% block main %}

<h1>Liste des utilisateurs</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %} 
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        <p>{{ role }}</p>
                    {% endfor %}
                </td>
                <td>
                    <form action="{{ path('admin-delete-user', {'id': user.id}) }}" method="POST" onsubmit="return confirm('Supprimer cet utilisateur ?');">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
